<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - EmployeeDepartmentSearch</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid g-0">
        <div class="d-flex justify-content-center bg-dark">
            <h1 class="text-white p-3">Program</h1>
        </div>
        <div class="row vh-100">
            <div class="col-2 bg-secondary">
                <div class="btn-group dropend w-100 ps-2 pb-1 pt-2">
                    <a role="button" class="btn btn-secondary bg-primary border" asp-area="" asp-controller="Employee"
                        asp-action="Index">
                        Employeees
                    </a>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split border"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#NewEmployeeModal">New</a>
                        </li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Employee"
                                asp-action="Search">Search</a></li>
                    </ul>
                </div>
                <div class="btn-group dropend w-100 ps-2 py-1">
                    <a role="button" class="btn btn-secondary bg-primary border" asp-area="" asp-controller="Department"
                        asp-action="Index">
                        Department
                    </a>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split border"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#NewDepartmentModal">New</a>
                        </li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Department"
                                asp-action="Search">Search</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-10">
                <div class="h4 mb-4 text-danger border-bottom border-danger pt-3 ps-3">
                    @ViewData["Title"]
                </div>
                <div class="row mx-3">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <partial name="_NewEmployeeModal" />
    <partial name="_NewDepartmentModal" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>