@model Employee
<div class="modal fade" id="NewEmployeeModal" tabindex="-1" aria-labelledby="NewEmployeeModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="NewEmployeeModal">New Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Employee" asp-action="New" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Fname" asp-for="Fname" placeholder="First Name">
                        <label for="Fname">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Lname" asp-for="Lname" placeholder="Last Name">
                        <label for="Lname">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" aria-label="Gender" id="Gender" asp-for="Gender" placeholder="Gender">
                            <option selected>Open this select menu</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Undefined">Undefined</option>
                        </select>
                        <label for="Gender">Gender</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="Email" asp-for="Email" placeholder="Email">
                        <label for="Email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="address" rows="3" asp-for="address"
                            placeholder="Address"></textarea>
                        <label for="address">Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="DepartmentID" placeholder="Department ID"
                            asp-for="DepartmentId">
                        <label for="DepartmentID">Department ID</label>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
